<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment_test"
        android:windowSoftInputMode="adjustPan"
        tools:targetApi="31">
        <activity
            android:name=".ActivityChangePassword"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android:intent.action.second" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".indoorWorkOutLvl1_list_frag"
            android:exported="true" />
        <activity
            android:name=".indoorWorkOutLvl2_list_frag"
            android:exported="true" />
        <activity
            android:name=".indoorWorkOutLvl3_list_frag"
            android:exported="true" />
        <activity
            android:name=".SignUpSub1Activity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" />
        <activity
            android:name=".GenderSelectionActivity"
            android:exported="true" />
        <activity
            android:name=".InputNameActivity"
            android:exported="true" />
        <activity
            android:name=".InputAgeActivity"
            android:exported="true" />
        <activity
            android:name=".HeightSelectionActivity"
            android:exported="true" />
        <activity
            android:name=".WeightSelectionActivity"
            android:exported="true" />
        <activity
            android:name=".InputEmail_PwdActivity"
            android:exported="true" />
        <activity
            android:name=".Done_signUp_Activity"
            android:exported="true" />
        <activity
            android:name=".NutritionGuideActivity"
            android:exported="true" />
        <activity
            android:name=".BreakfastActivity"
            android:exported="true" />
        <activity
            android:name=".LunchActivity"
            android:exported="true" />
        <activity
            android:name=".DinnerActivity"
            android:exported="true" />
        <activity
            android:name=".FavouriteActivity"
            android:exported="true" />
        <activity
            android:name=".CreateFoodActivity"
            android:exported="true" />
        <activity
            android:name=".PlantingTreeActivity"
            android:exported="true" />
        <activity
            android:name=".outdoorWorkOutLvl1_list_frag"
            android:exported="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>